/backend/.env
/backend/vendor/
/frontend/node_modules/
/frontend/dist/
/frontend/.github/
/frontend/cloudflare-worker/
/frontend/public/CNAME
/frontend/codecov.yml

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
