.dialogForm {
  padding: 24px 0 8px;

  :global(.ant-form-item) {
    margin-bottom: 24px;
  }

  :global(.ant-form-item:last-child) {
    margin-bottom: 8px;
  }

  :global(.ant-form-item-label) > label {
    font-size: 14px;
    font-weight: 400;
  }

  :global(.ant-input),
  :global(.ant-input-affix-wrapper) {
    font-size: 14px;
    border-radius: 8px;
  }
}
